/* For demo */
.bg{
  text-align: center;
  height: 600px;
  line-height: 160px;
  background: url("../components/page/img/bg-min.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5em;
  color: #000;
}

.Typist {
  font-size: 2em;
  
}
  